{% extends 'base.html' %}
{% load static %}
{% load bag_tools %}

{% block content %}
    <div class="overlay"></div>
    <div class="bag-item-container container-fluid w-100 mx-3 p-4 d-flex justify-content-center">
        {% if bag_items %}
        <table class="table-responsive w-75 rounded-1 grey float-right">
            <thead class="p-3 m-3">
                <tr>
                    <th scope="col"></th>
                    <th scope="col" class="text-decoration-underline">Product Info</th>
                    <th scope="col" class="text-decoration-underline">Price</th>
                    <th scope="col" class="text-decoration-underline">Qty</th>
                    <th scope="col" class="text-decoration-underline">Subtotal</th>
                </tr>
            </thead>

            {% for item in bag_items %}
                <tr>
                    <td class="thumbnail">
                        {% if item.product.get_all_images %}
                            <img src="{{ item.product.get_main_image.image_url }}" alt="{{ item.product.name }}" class="img-fluid">
                        {% else %}
                            <img src="{% static 'images/no-image-placeholder.png' %}" alt="{{ item.product.name }}" class="img-fluid">
                        {% endif %}
                    </td>
                    <td class="py-3">
                        <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                        <p class="my-0"><strong>Size: </strong>{% if item.product.has_dimensions %}{{ item.size|upper }}mm{% else %}N/A{% endif %}</p>
                        {% if item.product.has_amount %}
                            <p class="my-0"><strong>QTY: </strong>{{ item.product.amount }}pcs</p>
                        {% endif %}
                        <p class="my-0"><strong>SKU: {{ item.product.sku|upper }}</strong></p>
                    </td>
                    <td class="py-3">
                        <p class="my-0">${{ item.product.price }}</p>
                    </td>
                    <td class="py-3 w-25">
                        <form action="{% url 'adjust_bag' item.item_id %}" method="POST" class="form update-form">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="number" class="form-control form-control-sm qty_input"
                                        name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                        data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                                    {% if item.product.has_dimensions %}
                                        <input type="hidden" name="product_dimensions" value="{{ item.dimensions }}mm">
                                    {% endif %}
                                </div>
                            </div>
                        </form>
                        <a class="update-link blue-text"><small>Update</small></a>
                        <a class="remove-item red-text float-right" id="remove_{{ item.item_id }}" data-product_dimensions="{{ item.dimensions }}"><small>Remove</small></a>
                    </td>
                    <td class="py-3">
                        <p class="my-0">${{ item.product.price | calc_subtotal:item.quantity }}</p>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="5" class="p-3 text-right">
                    <h6><strong>Bag Total: ${{ total|floatformat:2 }}</strong></h6>
                    <h6>Delivery: ${{ delivery|floatformat:2 }}</h6>
                    <h4 class="mt-4"><strong>Grand Total: ${{ grand_total|floatformat:2 }}</strong></h4>
                    {% if free_delivery_delta > 0 %}
                        <p class="mb-1 red-text">
                            You could get free delivery by spending just <strong>${{ free_delivery_delta }}</strong> more!
                        </p>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td colspan="5" class="text-right">
                    <a href="{% url 'products' %}" class="btn white rounded-1 m-1">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
                    <a href="{% url 'checkout' %}" class="btn black rounded-1 m-1">
                        <span class="text-uppercase">Secure Checkout</span>
                        <span class="icon">
                            <i class="fas fa-lock"></i>
                        </span>
                    </a>
                </td>
            </tr>
        </table>
        {% else %}
        <div class="justify-self-end float-right w-100">
            <p class="lead mb-5">Your bag is empty.</p>
            <a href="{% url 'products' %}" class="btn btn-outline-dark rounded-1">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Keep Shopping</span>
            </a>
        </div>
        {% endif %}
    </div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block postload_js %}
{{ block.super }}
    {% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('product_size');
        var url = `/bag/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken, 'product_size': size};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}