{% extends 'base.html' %}
{% load static %}

{% block extra_title %}Home{% endblock %}

{% block content %}
    <div class="row home-content-container mx-2">
        <div class="col-12">
            <div class="row welcome-banner blue-light rounded-1 my-3">
                <div class="col-12 my-3">
                    <h1 class="text-center">Welcome to Dungeon Dwellers!</h1>
                    <p class="text-center">Your one-stop shop for all things tabletop RPG!</p>
                </div>
            </div>
            <div class="row call-to-action-container my-5 mx-3">
                <div class="col-12 action-container rounded-1 text-light p-3">
                    <div class="row">
                        <div class="col-10 offset-1">
                            <h3 class="">Ready to start your adventure?</h3>
                            <a href="{% url 'products' %}" class="shop-now-button btn">Shop now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

