{% extends 'base.html' %}
{% load static %}

{% block extra_title %}Home{% endblock %}

{% block content %}
    <div class="row home-content-container container-fluid">
        <div class="col-12 ">
            <div class="row welcome-banner">
                <div class="col-12 my-5">
                    <h1 class="text-center text-light">Welcome to Dungeon Dwellers!</h1>
                    <p class="text-center text-light">Your one-stop shop for all things tabletop RPG!</p>
                </div>
            </div>
            <div class="row call-to-action-container my-5 mx-3">
                <div class="col-12 action-container bg-dark opacity-75 rounded-1 text-light p-3">
                    <div class="row">
                        <div class="col-10 offset-1">
                            <h3 class="">Ready to start your adventure?</h3>
                            <a href="{% url 'products' %}" class="btn btn-outline-light">Shop now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

