{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="overlay"></div>
    <div class="profile-form-conatainer my-5 d-flex justify-content-center">
        <div class="form-content row grey p-3 rounded-1">
            <div class="form-header row w-100 black-text text-center">
                <h2 class="col-12">Update Profile</h2>
            </div>
            <form action="{% url 'update_profile' user=request.user %}" method="POST" class="form col-12">
                {% csrf_token %}
                <table>
                    {{ profile_form | crispy }}
                    {{ address_form | crispy }}
                </table>
                <br>
                <button type="submit" class="btn blue">Save</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}