* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
}

.call-to-action-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../images/homepage_background.jpg') no-repeat center center/cover;
}

.welcome-banner h1 {
    font-size: 3rem;
    color: #333;
}

footer {
    color: #070707;
    text-align: center;
    padding: 1rem;
}
