{% extends "base.html" %} {% block extra_title %}404{% endblock %} {% block content %}
{% load static %}
<div class="overlay"></div>
<div class="container my-5">
  <div class="row">
    <div class="col-md-12 my-5">
      <img src="{% static 'images/lindor.webp' %}" alt="404" class="img-fluid">
      <h1>404</h1>
      <p>
        Not to worry, a wizard is on the way to fix it. 
        In the meantime, you can try something different or go back to where you were before.
      </p>

      <a href="{% url 'home' %}" class="btn blue-button" aria-label="back to home">Back to home</a>
    </div>
  </div>
</div>
{% endblock %}