{% extends "base.html" %} {% block content %} {% load static %}
<div class="container my-5">
  <div class="row">
    <div class="col-md-12 my-5">
      <img src="{% static 'images/lindor.webp' %}" alt="500" class="img-fluid">
      <h1>500</h1>
      <p>
        The server is not very chill. Try something different. 
      <a href="{{request.META.HTTP_REFERER|escape}}" class="btn btn-secondary">
        Back to previous page
      </a>
      <a href="{% url 'home' %}" class="btn blue-button" aria-label="Back to Home">Back to home</a>
    </div>
  </div>
</div>

{% endblock %}