{% extends 'base.html' %}
{% load static %}

{% block extra_title %}Products{% endblock %}

{% block content %}

<div class="row my-3">
    <div class="products-container container-fluid">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center">Our Products</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="text-center">Check out our selection of products!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="row text-center text-dark">
                    {% if products %}
                        {% for product in products %}
                        <div class="col-3">
                            <div class="card">
                                {% if product.get_all_images %}
                                    {% load cloudinary %}
                                    {% cloudinary product.get_main_image.image.url quality='auto' crop='pad' background='gen_fill:ignore-foreground_true' alt=product.name%}
                                {% else %}
                                <img src="{% static 'images/default_product.jpg' %}" class="card-img-top" alt="{{ product.name }}">
                                {% endif %}
                                <div class="card-body">
                                    <h5 class="card-title">{{ product.name }}</h5>
                                    <p class="card-text">{{ product.description|truncatewords:10 }}</p>
                                    <p class="card-text">Price: ${{ product.price }}</p>
                                    <a href="{% url 'product_detail' product.id %}" class="btn btn-primary">View Product</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                    <div class="col-12">
                        <p>No products found.</p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
    
{% endblock %}