{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_title %}Products{% endblock %}

{% block content %}
<div class="products-container text-light">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">Our Products</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p class="text-center">Check out our selection of products!</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {% if user.is_authenticated and user.is_superuser %}
                <div class="row add-product-container d-flex justify-content-center align-content-center">
                    <div class="col-1">
                        <a href="{% url 'add_product' %}" class="btn btn-primary">Add product</a>
                    </div>
                </div>
            {% endif %}
            <div class="row card-container">
                {% if products %}
                    {% for product in products %}
                    <div class="card {% if product.is_featured %}featured{% endif %} col-lg-3 col-md-5 col-12">
                        <div class="product-image-container p-0">
                            {% if user.is_authenticated and user.is_superuser %}
                                {% if product.get_all_images %}
                                    <a href="{% url 'product_detail' product.id %}">
                                        <img src="{{ product.get_main_image.image.url }}" alt="{{ product.name }}" class="card-img-top img-fluid product-image">
                                    </a>
                                {% else %}
                                    <a href="{% url 'product_detail' product.id %}">
                                        <img src="{% static 'images/no-image-placeholder.png' %}" class="card-img-top img-fluid product-image" alt="{{ product.name }}">
                                    </a>
                                    <a href="" class="btn btn-outline-primary btn-sm m-1">Add Image</a>
                                {% endif %}
                            {% else %}
                                {% if product.get_all_images %}
                                    <a href="{% url 'product_detail' product.id %}">
                                        <img src="{{ product.get_main_image.image.url }}" alt="{{ product.name }}" class="card-img-top img-fluid product-image">
                                    </a>
                                {% else %}
                                    <a href="{% url 'product_detail' product.id %}">
                                        <img src="{% static 'images/default_product.jpg' %}" class="card-img-top img-fluid product-image" alt="{{ product.name }}">
                                    </a>
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5><hr>
                            <p class="card-text">{{ product.description|safe|truncatewords:10 }}</p>
                            <p class="card-text">Price: ${{ product.price }}</p>
                            <div class="tags">
                            {% for tag in product.tags.all %}
                                <p class="d-inline-block small text-light"><i class="fa-solid fa-tag fa-xs"></i><a href=""> {{ tag.friendly_name }}</a> |</p>
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                <div class="col-12">
                    <p>No products found.</p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addImageModal" tabindex="-1" aria-labelledby="addImageModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="addImageModalLabel">Add Product Image</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
            {% include 'products/product_image_add.html' %}
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}